        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .noto-serif { font-family: 'Noto Serif', serif; }
        .manrope { font-family: 'Manrope', sans-serif; }
