        body {
            background-color: #121412;
            color: #e2e3df;
            font-family: 'Manrope', sans-serif;
        }
        .serif-display {
            font-family: 'Noto Serif', serif;
        }
